<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"> 
	<Product Id="*" Name="$(var.Avat.ProjectName)" Language="1033" Version="1.0.0.0" Manufacturer="MiKo" UpgradeCode="ca97d5b1-8119-4721-a99e-e341990d3197">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of AVAT is already installed." />
		<MediaTemplate />
    
    <PropertyRef Id="NETFRAMEWORK35" />
    <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>

    <Feature Id="ProductFeature" Title="$(var.Avat.ProjectName)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.Avat.ProjectName)" />
			</Directory>
      
      <Directory Id="DesktopFolder" />

      <Directory Id="ProgramMenuFolder">
        <Directory Id="AvatMenuFolder" Name="$(var.Avat.ProjectName)"/>
      </Directory>
     </Directory>
  </Fragment>
  
  <Fragment>
      <DirectoryRef Id="AvatMenuFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.Avat.ProjectName)"
                  Description="$(var.Avat.ProjectName)"
                  Target="[INSTALLFOLDER]$(var.Avat.ProjectName).exe"
                  WorkingDirectory="INSTALLFOLDER"
                  />
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall Avat"
                  Description="Uninstalls Avat"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="AvatMenuFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Avat.ProjectName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
      <Component Id="ProductAvatValidator">
        <File Source="$(var.AvatValidator.TargetPath)" />
      </Component>
      
      <Component Id="ProductAvat">
        <File Source="$(var.Avat.TargetPath)" />
        <Shortcut Id="AvatShortCut" Name="$(var.Avat.ProjectName)" WorkingDirectory="INSTALLFOLDER" Directory="DesktopFolder" Advertise="yes" Icon="AvatIcon.exe">
          <Icon Id="AvatIcon.exe" SourceFile="$(var.Avat.TargetPath)"/>
        </Shortcut>
        <Shortcut Id="UninstallProductInstDir"
                  Name="Uninstall"
                  Description="Uninstalls Avat"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
      </Component>
      
      <Component Id="ProductSqLite">
        <File Source="$(var.Avat.TargetDir)\System.Data.SQLite.dll" />
      </Component>
      <Component Id="ProductEpplus">
        <File Source="$(var.Avat.TargetDir)\EPPlus.dll" />
      </Component>
      <Component Id="ProductIonicZip">
        <File Source="$(var.Avat.TargetDir)\Ionic.Zip.dll" />
      </Component>

    </ComponentGroup>
	</Fragment>
</Wix>